/Prep/*
/PDFs/Projected Distribution Loss.pdf
/PDFs/SinGAN_supplemental.pdf
/code/.idea/*
*.pyc
/.idea/*
*/.idea/*
/SinGAN-master/*
.ipynb_checkpoints/*
/code/wandb/*
core
/code/Output/dont_track
/code/Output/*.zip